


 /*----------------------------*/
 /*                            */
 /*  EDIT THIS FILE TO APPLY   */
 /*  YOUR DESIRED STYLE!       */
 /*                            */
 /*----------------------------*/



/*--------- BACKGROUND ---------------------*/

html { 
	/*koko sivun tausta on valkoinen.
	Muuta haluamaksesi*/
	background: #E9B872; 
	color: #1C1940;
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Bubblegum Sans', sans-serif;
	

	/*Jos määrität html-tagissa fontteja, 
	taustavärejä tai tekstin värejä,
	samat määritykset tulevat kaikkiin sisällä oleviin
	elementteihin. Näin voit määrittää esim. koko sivun 
	fontit, värit ym. ja sitten muuttaa haluamissasi
	elementeissä tyylin toiseksi.*/


}

body { 
	
	/*Kaiken sisällön ympärillä on body. 
	Voit muuttaa myös bodyn taustaväriä tai
	esim. lisätä paddingin, jotta elementit eivät 
	olisi reunassa kiinni.*/
	
	/*Tällä koodilla voit tehdä niin, että yli 900px
	leveässä näytössä body-tagi jää vain 900px leveäksi,
	ja reunoille jää tyhjää. Voit muuttaa tätä miten haluat.*/
	max-width: 900px;
	margin: auto; /*tämä keskittää body-tagin sivusuunnassa*/

}

/*--------- HEADER ---------------------*/

/*Header text on top of the menu*/
header h1 { 
	/*Pääotsikko*/

	/*Täällä kannattaa muokata background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Laita myös ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voit halutessasi myös esim. keskittää otsikon (text-align: center;)*/
    background-color: #5ADBFF;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: center;
	padding: 15px;
    font-size: 40px;
	text-align: center;
	border: 2px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 255, 0.8);

}

/*--------- MAIN MENU ---------------------*/

/*Menu*/
#main-menu { 
	list-style-type: none; 
	
	/*Voit tehdä tästä flexboxin, 
	niin valikon napit menevät vierekkäin*/

	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */
	
	/*Voi muokata täällä myös background-, color-arvoja.*/

    display: flex;
    justify-content: center; 
	background-color: #8E3B00;
	margin: 0px;
	
	
		
}

/*Menu item*/
#main-menu li {
	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voi muokata täällä myös background-, color-arvoja.*/

	background-color: #1A1E2C;
	color: #FE893E;
	padding: 10px;
	margin: 20px;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	border: 1px solid #FE7F2D;

}

/*Link in menu item*/
#main-menu a { 

	text-decoration: none; /*poistaa linkin alleviivauksen*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
	color: #FE7F2D;

}

/*Menu item when mouse over*/
#main-menu a:hover { 
	
	/*Tässä määritellään, miltä valikon linkki näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: black; 
	background: white; 

}

/*------- ARTICLE BUTTONS -------------------*/
/*Button in end of each article*/
.button { 

	background-color: #1A1E2C;
	color: #FE893E;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	border: 1px solid #FE7F2D;
	padding: 5px;
	
	margin-top: 10px;
	display: inline-block;
	
	
	/*saatat haluta tehdä napista aika samanlaisen
	kuin valikkolinkit, mutta toisenlainenkin 
	voi olla ihan tyylikäs*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
	
	/*Tämä on a-elementti, ja se on oletuksena 
		display: inline; 
	Siksi sen kokoa tai paikkaa ym. ei voi muuttaa.
	Jotta nappia on helpompi käsitellä, voi muuttaa sen 
		display: block;
		
	Ymmärtääksesi paremmin mitä on block ja inline ym., 
	katso tämä video: https://www.youtube.com/watch?v=9T8uxp5hQ60	
	*/

	/*Tällä koodilla saat fancyn varjon :) 
		box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
	*/
 
 
	

}

/*Button when mouse over*/
.button:hover { 
	/*Tässä määritellään, nappi näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: black; 
	background: white; 
	
	/*Voit halutessasi laittaa vaikka koko 
	artikkelin muuttumaan jotenkin hiukan, 
	kun sen päällä on kursori.. :) */
}


/*--------- ARTICLES ---------------------*/

/*Artikkeleiden ympärillä*/
main {
	/*Kaikki "artikkelit" ovat main-tagin sisällä.
	Jos pidät tämän flexboxina, artikkelit menevät
	vierekkäin leveässä näytössä. 
	ja sitten artikkeleihin (ks. alla) esim. ,
	jolloin artikkelit asettuvat vierekkäin.*/
	
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	background-color: #E27526;
	
}

/*Frame of each "article"*/
article {
	max-width: 300px; /*Jos main on flexbox, 
	tämä tekee sen, että "artikkelit" mahtuvat vierekkäin.*/
	
	/*Yksittäisen artikkelin tausta:
	Saatat haluta  muokata täällä background-, color- 
	sekä font-size- ja font-family-arvoja.*/

	/*Tärkeää: Laita tässä marginaalit ja paddingit paremmin, 
	niin näyttää tyylikkäämmältä! Teksti, kuva ym. ei saa olla 
	reunaan asti, vaan reunassa pitää olla marginaali (teknisesti
	margin tai padding).*/
	
  box-sizing: border-box; 
  background-color: #5ADBFF;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px; 
  margin: 15px;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  


}



/*article title*/
article h2 { 
background-color: #FE7F2D;
padding: 10px; 
border: 3px solid #ddd;
margin: 5px;
text-align: center;
margin-top: 15px;

	/*Yksittäisen artikkelin otsikko*/

	/*Kannattaa muokata täällä background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Saatat haluta muokata täällä myös 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/


}

/*article text*/
article p { 
	/*Artikkelin pienempi teksti*/

	/*Saatat haluta muokata täällä 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/
	margin: 15px;
	margin-top: 15px;

}

/* "Images" */
.article-image { 
    max-width: 94%; /*Tämä tekee sen, että kuva ei mene yli reunasta.*/
    

	/*Kuva voi olla koko artikkelin levyinen tai pienempi. 
	Esim. alla olevalla kuvasta tulisi pienempi (=50%)
	ja teksti kiertää kuvaa (=float):
		width: 50%;
		min-width: 150px;
		float: left; 
	*/
	border: 3px solid #FE7F2D;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	margin-top: 15px;
    margin-left: 5px;
	
}

/*-------- FOOTER ---------------*/

footer {
	/*Kannattaa laittaa footeriin vähintään padding 
	ja ehkä eri taustaväri, jotta se erottuu hiukan.*/
	
	background-color: #8E3B00;
	color: #EAFEFF;
	padding: 10px;
}

