*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Bubblegum Sans', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
}
main {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body {
	background: #F4E7C5;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: white;
    z-index: 1;
    flex-wrap: wrap; /* Uusi lisätty rivi */
}

.logo img {
    max-width: 180px;
    height: auto;
}

.navmenu {
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap; /* Uusi lisätty rivi */
}

.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.navmenu a:hover {
    color: #EE1C47;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-left: auto; /* Muutettu rivi */
    margin-right: 20px; /* Uusi lisätty rivi */
}

.nav-icon img {
    margin-right: 20px;
    transition: all 0.42s ease;	
}

.nav-icon img:hover {
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: auto;
}
.jtn {
	z-index: 2;
	
}
h2 {
	text-align: center;
	background-color: white;
}
#hero {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.411)), url('taide.png') no-repeat center / cover;
}
.container {
	width: 90%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.container .info a {
	text-decoration: none;
	display: inline-block;
	background-color: white;
	border-radius: 4px;
	font-size: 30px;
	padding: 15px;
	color: #2c2c2c;
	margin-top: 250px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	
}
 .container .info a:hover {
    color: #EE1C47;
}
 .tietoa-meistä {
    padding: 80px 0px;
	background-color: #F4E7C5;
}

.sisältö {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Lisätty flex-wrap */
}

.flex {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.tietoa-meistä h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
}

.tietoa-meistä h3 {
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
}

.tietoa-meistä p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin-bottom: 20px;
}
.tietoa-meistä img{
	display: block;
	max-width: 100%;
	height: auto;
	margin:0 auto;
}
.btn {
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	background-color: #2c677c;
	padding: 8px 12px;
	border-radius: 5px;
	letter-spacing: 1px;
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 25px;
}
.btn:hover{
	background-color: #c94f4f;
	transition: 0.4s ease;
}
li {
	padding: 5px;
}
/* Yleiset asetukset */
.products {
	margin-bottom: 30px;
	
}

.products .box-container {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.products .box-container .box {
  box-shadow: 0 .5rem;
  position: relative;
  flex: 0 0 calc(33.33% - 1.5rem);
  margin-top: 25px;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
  max-width: 100%;
}

.products .box-container .box .image img {
  height: 100%;
  object-fit: cover;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.container {
  max-width: 1200px;
}

.heading {
  text-align: center;
  padding-top: 50px;
  font-size: 42px;
}

.price {
  background-color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .products .box-container {
    flex-direction: column;
  }
 
 .products .box-container .box {
    flex: 1 1 100%;
    margin-bottom: 1.5em;
  }
}
.title h1{
	text-align: center;
	padding-top: 50px;
	font-size: 42px;
	color: white;
}

.section {
	background-color: #2c2c2c;
	margin-top: 25px;
}
.palvelut{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 75px auto;
	text-align: center;
	
	
}
.card {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 0px 20px;
	padding: 20px 20px;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
}
.card h2{
	font-size: 28px;
	color: black;
	margin-bottom: 20px;
}
.card p{
	font-size: 17px;
	margin-bottom: 30px;
	line-height: 1.5;
	color: #5e5e5e;
}
.button {
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	background-color: #2c677c;
	padding: 8px 12px;
	border-radius: 5px;
	letter-spacing: 1px;
}
.button:hover{
	background-color: #c94f4f;
	transition: 0.4s ease;
}
footer {
	text-align: center;
	color: white;
	padding: 15px;
}

@media screen and (max-width: 768px) {
  .palvelut {
    display: flex;
	flex-direction: column;
  }
  .card {
	  width: 85%;
	  display: felx;
	  margin: 20px 0px;
  }
 

	 
 
 